@import "react-day-picker/style.css";

.rdp-root {
  --rdp-selected-border: 2px solid transparent;
  --rdp-accent-color: var(--color-black);

  .rdp-selected {
    .rdp-day_button {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }

  .rdp-today:not(.rdp-outside) {
    color: var(--color-black);
  }
}
